<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>首页</title>
<meta name="keywords" content="blog" />
<meta name="description" content="blog" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/base.css" rel="stylesheet">
<link href="css/m.css" rel="stylesheet">
<script src="js/jquery-1.8.3.min.js" ></script>
<script src="js/comm.js"></script>
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<!--top begin-->
<div th:replace="header::header"></div>
<div class="searchbox">
  <div class="search">
    <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
      <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onFocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onBlur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
      <input name="show" value="title" type="hidden">
      <input name="tempid" value="1" type="hidden">
      <input name="tbname" value="news" type="hidden">
      <input name="Submit" class="input_submit" value="搜索" type="submit">
    </form>
  </div>
  <div class="searchclose"></div>
</div>
<!--top end-->
<article> 
  <!--lbox begin-->
  <div class="lbox"> 
    <!--banbox begin-->
    <div class="banbox">
      <div class="banner">
        <div id="banner" class="fader">
          <li class="slide" ><a href="/" target="_blank"><img src="images/1.jpg"></a></li>
          <li class="slide" ><a href="/" target="_blank"><img src="images/2.jpg"></a></li>
          <li class="slide" ><a href="/" target="_blank"><img src="images/3.jpg"></a></li>
          <li class="slide" ><a href="/" target="_blank"><img src="images/4.jpg"></a></li>
          <div class="fader_controls">
            <div class="page prev" data-target="prev"></div>
            <div class="page next" data-target="next"></div>
            <ul class="pager_list">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--banbox end--> 
    <!--headline begin-->
    <div class="headline">
      <ul>
        <li><a href="http://www.cnblogs.com/aspwebchh/p/7727261.html" title="为什么说10月24日是程序员的节日？"><img src="images/h1.jpg" alt="为什么说10月24日是程序员的节日？"><span>为什么说10月24日是程序员的节日？</span></a></li>
        <li><a href="https://baijiahao.baidu.com/s?id=1620945040196032265&wfr=spider&for=pc" title="生命的意义"><img src="images/h2.jpg" alt="生命的意义"><span>生命的意义</span></a></li>
      </ul>
    </div>
    <!--headline end-->
    <div class="clearblank"></div>
    <div class="tab_box whitebg">
      <div class="tab_buttons">
        <ul>
          <li class="newscurrent">个人博客</li>
          <li>工作日记</li>
          <li>服务器技术</li>
          <li>前端技术</li>
        </ul>
      </div>
      <div class="newstab">
        <div class="newsitem">
          <div class="newspic">
            <ul>
              <li><a href="/"><img src="images/2.jpg"><span>个人博客，属于我的小世界！</span></a></li>
              <li><a href="/"><img src="images/3.jpg"><span>个人博客</span></a></li>
            </ul>
          </div>
          <ul class="newslist">
            <li><i></i><a href="/">个人博客，属于我的小世界！</a>
              <p>个人博客，用来做什么？我刚开始就把它当做一个我吐槽心情的地方，也就相当于一个网络记事本，写上一些关于自己生活工作中的小情小事，也会放上一些照片，音乐。每天工作回家后就能访问自己的网站，一边听着音乐，一边写写文章。</p>
            </li>
          </ul>
        </div>
        <div class="newsitem">
          <div class="newspic">
            <ul>
              <li><a href="/"><img src="images/3.jpg"><span>日记</span></a></li>
              <li><a href="/"><img src="images/3.jpg"><span>工作日记</span></a></li>
            </ul>
          </div>
          <ul class="newslist">
            <li><i></i><a href="/">个人博客，属于我的小世界！</a>
              <p>工作日记</p>
            </li>
          </ul>
        </div>
        <div class="newsitem">
          <div class="newspic">
            <ul>
              <li><a href="/"><img src="images/2.jpg"><span>个人博客，属于我的小世界！</span></a></li>
              <li><a href="/"><img src="images/3.jpg"><span>服务器技术</span></a></li>
            </ul>
          </div>
          <ul class="newslist">
            <li><i></i><a href="/">我是怎么评价自己的？</a>
              <p>服务器技术</p>
            </li>
          </ul>
        </div>
        <div class="newsitem" >
          <div class="newspic">
            <ul>
              <li><a href="/"><img src="images/3.jpg"><span>前端</span></a></li>
              <li><a href="/"><img src="images/4.jpg"><span>前端</span></a></li>
            </ul>
          </div>
          <ul class="newslist">
            <li><i></i><a href="/">成功的</a>
              <p>前端</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--tab_box end-->
    <div class="zhuanti whitebg">
      <h2 class="htitle"><span class="hnav"><a href="/" style="color: red">1</a><a href="/">2</a><a href="/">3</a><a href="/">4</a></span>最新新闻</h2>
      <ul>
        <li th:if="${allNews!=null}" th:each="news:${allNews}">
          <b th:text="${news.title}"></b>
          <span class="newsClass">[[${news.simpleNews}]]</span>
          <a href="" th:href="@{/news/}+${news.id}" style="width: 38%;float: left" class="readmore">新闻详情</a><p style="width: 60%;float: right;margin-top: 10px;text-align:right;color: #00C1DE">日期: [[${news.createTime}]]</p>
        </li>

        <!-- <i class="ztpic"></i> 添加图片样式-->
<!--        <li> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>-->
      </ul>
    </div>

    <div class="whitebg bloglist">
      <h2 class="htitle">最新博文</h2>
    </div>
    <!--bloglist end--> 
  </div>
  <div class="rbox">
    <div class="card">
      <h2>我的名片</h2>
      <p>姓名：严昊海</p>
      <p>职业：java程序员</p>
      <p>现居：浙江省杭州市</p>
      <p>Email：1091210193@qq.com</p>
      <ul class="linkmore">
        <li><a href="http://www.qq.com" target="_blank" class="iconfont icon-zhuye" title="网站地址"></a></li>
        <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=i7q7srq5uru6srjL_vql6OTm" target="_blank" class="iconfont icon-youxiang" title="我的邮箱"></a></li>
        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=1091210193&site=qq&menu=yes" target="_blank" class="iconfont icon---" title="QQ联系我"></a></li>
        <li id="weixin"><a href="#" target="_blank" class="iconfont icon-weixin" title="关注我的微信"></a><i><img src="images/weixinF.png"></i></li>
      </ul>
    </div>
    <div class="whitebg tuijian">
      <h2 class="htitle">最近浏览</h2>
      <section class="topnews imgscale"><a href="/"><img src="images/h2.jpg"><span>6条网页设计配色原则,让你秒变配色高手</span></a></section>
      <ul>
        <li><a href="/"><i><img src="images/text01.jpg"></i>
          <p>十条设计原则教你学会如何设计网页布局!</p>
          </a></li>
        <li><a href="/"><i><img src="images/text02.jpg"></i>
          <p>用js+css3来写一个手机栏目导航</p>
          </a></li>
        <li><a href="/"><i><img src="images/text03.jpg"></i>
          <p>6条网页设计配色原则,让你秒变配色高手</p>
          </a></li>
        <li><a href="/"><i><img src="images/text04.jpg"></i>
          <p>三步实现滚动条触动css动画效果</p>
          </a></li>
        <li><a href="/"><i><img src="images/text05.jpg"></i>
          <p>个人博客，属于我的小世界！</p>
          </a></li>
        <li><a href="/"><i><img src="images/text06.jpg"></i>
          <p>安静地做一个爱设计的女子</p>
          </a></li>
        <li><a href="/"><i><img src="images/text07.jpg"></i>
          <p>个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</p>
          </a></li>
      </ul>
    </div>
    <div class="whitebg tongji">
      <h2 class="htitle">站点信息</h2>
      <ul>
        <li><b>建站时间</b>：2018-8-10</li>
        <li><b>网址</b>：<a href="http://www.yanhaohai.xin">www.yanhaohai.xin</a> </li>
        <li><b>数据库</b>：mysql</li>
        <li><b>服务器框架</b>：SpringBoot</li>
      </ul>
    </div>
  </div>
</article>
<script type="text/javascript">
  $(function () {
    var newsSpan = $(".newsClass");
    for (var i = 0;i<newsSpan.length;i++){

      var text = newsSpan.get(i).innerText;

      newsSpan.get(i).innerHTML = text;
    }
  })
</script>
</body>
</html>
